@import "./font-awesome/css/font-awesome.min.css";
body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(76, 76, 76);
    width: 600px;
    margin: auto;
}

button {
    border: 1px solid black;
    padding: 11px;
    background: none;
    transition: all 0.4s;
    margin-right:10px;
}

button:hover {
    background: rgb(200,200,200);
}
