html
    head
        meta(charset="UTF8")
        link(rel="stylesheet", href="app.css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans',rel='stylesheet',type='text/css')
        link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        script(src="https://cdn.rawgit.com/mozilla/jschannel/master/src/jschannel.js")
        
        style
            :less
                body {
                    font-family: "Open Sans";
                }
        script(src="lodash.js")
        script(src="jquery.js")
        script(src="node-event-emitter.js")
        script(src="ExsCheck.js")
        script(src="checkTests.js")
        script(src="app.js")
    body
        //-your-image(data-data="smiley",data-console="true")
        div
            #image(style="display:inline-block")
            //#values(style="display:inline-block")
        #console(style="margin:10px")
        #exsCheck
        p#bravo(style="visibility:hidden") Ok, perfetto! Ora premi CHECK per registrare il risultato

        script
            :coffeescript
                _ = require('lodash')
                $ = require('jquery')
                checkTests = require 'checkTests'


                # This is the exercise check display component 
                ExsCheck = require 'ExsCheck'

                # Found no better way to share these objects

                {Matrix, Image, Console2, SS, _e, imgsData} = window.images

                cns = $("#console")[0]
                img = $("#image")[0]
                exsCheck = $("#exsCheck")[0]

                rows = _.cloneDeep(imgsData["smiley"])

                ss = new SS(rows)

                tests =  
                    [
                        {
                            display: "Il pixel in alto a sinistra deve essere rosso"
                            test: -> _.isEqual ss.state.rows[0][0], [255, 0, 0]
                        }
                        {
                            display: "Il pixel in alto a destra deve essere verde"
                            test: -> _.isEqual ss.state.rows[0][7], [0, 255, 0]
                        }
                        {
                            display: "Il pixel in basso a destra deve essere blu"
                            test: -> _.isEqual ss.state.rows[7][7], [0, 0, 255]
                        }
                    ]

                # In 'outcome' I store the exercises outcome

                outcome = false
                window.getGrade = -> outcome
                window.getState = ss.serializeState
                window.setState = -> 
                    stateStr = if arguments.length is 1 then arguments[0] else arguments[1];
                    ss.deserializeState stateStr

                render = =>

                    React.render (_e Image, 
                            handleClick: (coords) -> 
                                ss.invertPixel coords[0], coords[1] 
                            selectedPixel: ss.state.selectedPixel
                            rows: ss.state.rows )
                        , img

                    React.render (_e ExsCheck, 
                                tests: tests
                        ), exsCheck 

                    outcome = checkTests tests
                    $("p#bravo").css "visibility", 
                        if outcome
                            "visible"
                        else
                            "hidden"

                    React.render (_e Console2, 
                        lastCommand: ss.state.lastCommand
                        buttons:
                            "Enter": -> ss.exec ss.state.command
                            "Reset": ss.resetRows
                        error: ss.state.error
                        onEnter: (x) -> 
                            ss.exec ss.state.command
                        onShiftEnter: (x) -> 
                            ss.exec ss.state.command
                        onMap: (x) ->
                            ss.map x
                        onChange: (e) -> ss.state.command = e.target.value 
                        textStore: ss
                        text: ss.state.command 
                    ), cns


                ss.on "error", (e) -> console.log e

                ss.on "change", -> 
                    render()

                render()

        script(src="iframe_check.js")
