html
    head

    body
        #help.modal
            .close.fa.fa-close
            h1 Suggerimenti
            ol
                li.hint
                    p.
                        Potresti prendere ispirazione da quello che hai fatto per
                        "sviluppare" la Domenica, oppure per "inverdire" gli
                        <i>smiley</i>...
                li.hint
                    p.
                        ...cioè: scrivere un comando che "legga" i colori di un
                        pixel e, se questo è troppo rosso, lo faccia virare
                        verso il verde.
                li.hint
                    p.
                        Come si fa a vedere se un pixel è rosso? Beh, si guarda
                        il valore della sua componente rossa... Ma questo non è
                        sufficiente: nel bianco, come abbiamo visto, il valore
                        della componente rossa è massimo (255), ma non diremmo
                        che il bianco è rosso...
                li.hint
                    p.
                        Un pixel è rosso quando la sua componente rossa è più
                        alta di quelle blu e verde.
                        Per esempio, un pixel con r=100, b=10, g=10 è di certo
                        piuttosto rosso.
                        Un metodo per vedere se un pixel è rosso potrebbe
                        essere: prendere il valore della sua componente rossa,
                        sottrarre la componente verde e quella blu, e vedere se
                        quello che rimane è maggiore di un certo valore soglia:
                    pre.
                        c = img.getPixel(); r = c[0]-c[1]-c[2]; if(r>10){...}
                    p
                        prova a completare questo comando in modo da annerire
                        tutti i punti rossi dell'immagine.
                li.hint
                    pre.
                        c = img.getPixel(); r = c[0]-c[1]-c[2]; if(r>10){img.setPixel([0,0,0])}
                    p.
                        annerisce i pixel rossi.
                        Com'è, come effetto? Non troppo naturale, eh?
                        Prova a inverdirli brutalmente, usando un verde shocking
                        ([0,255,0]) invece del nero...
                li.hint
                    p.
                        Ora tocca a te: trova nuove formule di correzione...

                        
                    
                li(style="visibility:hidden")
                    p Prova questo codice:
                    pre.
                        c = img.getPixel(); r = c[0]-c[1]-c[2]; if
                        (r>10){img.setPixel([r,1.3*r,r])}


        #redeyes

        script(src="app.js")
        script(src="jquery.js")
        link(rel="stylesheet",href="app.css")
        script
            :coffeescript
                $ = require 'jquery'
                {hintize, modal, ImageCanvas, SS, React, Console2, loadSubImg} = window.images

                hintize()

                createPhotoshop = (renderer, box, elem) ->
                    cnsole = document.createElement "console"
                    canvas = document.createElement "my-image"
                    $(elem).append cnsole
                    $(elem).append canvas

                    _e = React.createElement
                    ss = new SS()

                    canvasRender = ->
                        React.render (_e renderer, {pixelHeight: "5px", pixelWidth: "5px", rows: ss.state.rows, selectedPixel: ss.state.selectedPixel}), canvas

                    consoleRender = -> 
                        React.render (_e Console2,
                            error: ss.state.error
                            lastCommand: ss.state.lastCommand
                            onChange: (e) -> ss.state.command = e.target.value
                            buttons:
                                "Esegui su tutti": ->
                                    ss.map ss.state.command
                                "Reset": load
                                Suggerimenti: modal($("#help.modal")).show
                            
                            onShiftEnter: (cmd) ->
                                ss.map ss.state.command
                            onMap: (cmd) ->
                                ss.map cmd
                        ), cnsole

                    ss.on "change", ->
                        canvasRender()
                        consoleRender()

                    load = -> 
                        loadSubImg("imgs/redeye2.png",box.x,box.y,box.w,box.h,100)
                            .then (rows) =>
                                ss.state.rows = rows
                                ss.commitState()


                    load()

                createPhotoshop ImageCanvas, {}, $("#redeyes")
